---
import { Picture } from 'astro:assets';
import proMassageTable from '../assets/images/pro-massage-table.jpg';
import particuleTwirl from '../assets/images/particules/twirl.svg';
import particuleHeroPeachBlob from '../assets/images/particules/hero-peach-blob.svg';
import particuleBeigeBlob from '../assets/images/particules/beige-blob-2.svg';
import particuleDermBigLeaf from '../assets/images/particules/derm-big-leaf.svg';

const { h1Choice } = Astro.props;
---


<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<div id="content-page-1945">
    <section class="cs-content-default">
        <div class="cs-container">
            <div class="cs-content">
                  {h1Choice === true ? (
                <h1 class="cs-topper">Présentation du Massage Californien</h1>
              ) : (
                <span class="cs-topper">Présentation du Massage Californien</span>
              )}
                <h2 class="cs-title">Le massage Californien</h2>
                <p>
                    Je suis Margaux, fondatrice de MargoMassage, et je vous invite à découvrir le massage Californien, un soin doux et enveloppant qui apaise le corps et l’esprit. À votre domicile à La Rochelle, je crée une bulle de détente où vous pouvez lâcher prise. Avec des mouvements fluides et des huiles naturelles, ce massage soulage vos tensions, améliore votre circulation et vous offre un moment de bien-être profond. Parfait pour vous détendre après une longue journée ou pour vous offrir une pause méritée.
                </p>
                <h3>Un moment rien que pour vous, chez vous.</h3>
                <p>
                    Chaque massage Californien est une expérience unique, adaptée à vos envies. Avant de commencer, je prends le temps d’échanger avec vous pour comprendre ce dont vous avez besoin : relâcher du stress, détendre des muscles tendus ou simplement vous sentir plus léger. Je m’installe chez vous avec ma table de massage, des huiles bio et une ambiance relaxante pour transformer votre espace en un cocon de sérénité. À La Rochelle, je me déplace directement à votre porte, vous n’avez qu’à vous laisser guider.
                </p>
                <p>
                    Réserver votre massage avec MargoMassage, c’est simple. Contactez-moi via mon formulaire en ligne ou par téléphone pour me parler de vos attentes. Je vous propose des séances sur mesure, de 30 minutes pour une pause rapide à 1h30 pour une relaxation complète. Après votre massage, je partage avec vous quelques astuces pour prolonger cette sensation de bien-être au quotidien. Que vous soyez à La Rochelle ou dans les environs, je viens à vous pour un moment de douceur.
                </p>
                <p>
                    Offrez-vous un instant de calme avec le massage Californien. Avec MargoMassage, je vous apporte la détente à domicile, où que vous soyez à La Rochelle. Prenez rendez-vous dès aujourd’hui et reconnectez-vous à votre sérénité intérieure.
                </p>
             </div>
            <div class="cs-image-group">
               <Picture
              pictureAttributes={{
                class: "cs-picture",
              }}
              src={proMassageTable}
              alt={"Massage table in a professionnal environment"}
              formats={["avif", "webp", "jpg"]}
              loading={"lazy"}
              decoding={"async"}
               />

               <Picture 
               class={"cs-graphic cs-twirl"}
               src={particuleTwirl}
               alt="graphic"
               loading={"lazy"}
               decoding={"async"}
               aria-hidden="true" />
               <Picture
               src={particuleHeroPeachBlob}
               class="cs-graphic cs-peach"
               alt="graphic"
               loading={"lazy"}
               decoding={"async"}
               aria-hidden="true" />
               <Picture
               src={particuleBeigeBlob}
               class="cs-graphic cs-blob"
               alt="graphic"
               loading={"lazy"}
               decoding={"async"}
               aria-hidden="true" />
               <Picture
               src={particuleDermBigLeaf}
               class="cs-graphic cs-leaf"
               alt="graphic"
               loading={"lazy"}
               decoding={"async"}
               aria-hidden="true" />
               
            </div>
        </div>
    </section>
    
 
</div>
                                
                                

<style>
/*-- -------------------------- -->
<---        Content Page        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #content-page-1945 {
    padding: var(--sectionPadding);
    padding-bottom: 1.5rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #content-page-1945 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #content-page-1945 .cs-content {
    text-align: left;
    width: 100%;
    max-width: 47.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #content-page-1945 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    width: 100%;
    max-width: 100%;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #content-page-1945 h2,
  #content-page-1945 h3,
  #content-page-1945 h4,
  #content-page-1945 h5,
  #content-page-1945 h6 {
    font-weight: 700;
    text-align: inherit;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
  }
  #content-page-1945 h2 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  #content-page-1945 h3 {
    font-size: 1.5rem;
    color: var(--primary);
  }
  #content-page-1945 h4,
  #content-page-1945 h5,
  #content-page-1945 h6 {
    font-size: 1.25rem;
  }
  #content-page-1945 .cs-button-solid {
    margin-bottom: 2rem;
  }
  #content-page-1945 p {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    margin: 0 0 1rem 0;
    color: var(--bodyTextColor);
  }
  #content-page-1945 p:last-of-type {
    margin-bottom: 2rem;
  }
  #content-page-1945 p a {
    font-size: inherit;
    line-height: inherit;
    text-decoration: underline;
    color: var(--primary);
    filter: brightness(120%);
  }
  #content-page-1945 ol {
    margin: 0 0 2rem 0;
    padding-left: 1.5rem;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #content-page-1945 ol li {
    font-size: 1rem;
    line-height: 1.5em;
  }
  #content-page-1945 ol li strong {
    color: var(--headerColor);
  }
  #content-page-1945 ol li p:last-of-type {
    margin: 0;
  }
  #content-page-1945 ul {
    margin: 0 0 2rem 0;
    padding-left: 1.5rem;
    color: var(--bodyTextColor);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #content-page-1945 ul li {
    list-style: none;
    line-height: 1.5em;
    font-size: 1rem;
    color: inherit;
    position: relative;
  }
  #content-page-1945 ul li strong {
    color: var(--headerColor);
  }
  #content-page-1945 ul li:before {
    /* custom list bullet */
    content: "";
    width: 3px;
    height: 3px;
    background: currentColor;
    opacity: 1;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0.625rem;
    left: -0.75rem;
  }
  #content-page-1945 .cs-image-group {
    font-size: min(2.29vw, 1rem);
    width: 29.875em;
    height: 47.75em;
    display: none;
    position: relative;
    z-index: 2;
  }
  #content-page-1945 .cs-picture {
    width: 29.4375em;
    height: 42.5625em;
    box-sizing: border-box;
    background-color: #dab692;
    overflow: hidden;
    border: 8px solid #dab692;
    border-radius: 16.25rem;
    position: absolute;
    right: 0;
    z-index: -1;
  }
  #content-page-1945 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.7s;
  }
  #content-page-1945 .cs-graphic {
    height: auto;
    position: absolute;
  }
  #content-page-1945 .cs-twirl {
    width: 11.0625em;
    height: auto;
    top: 0.9375em;
    right: 0;
    z-index: 1;
  }
  #content-page-1945 .cs-peach {
    width: 5.375em;
    height: auto;
    top: 0.375em;
    right: 5.6875em;
  }
  #content-page-1945 .cs-blob {
    width: 19.1875em;
    height: auto;
    bottom: 0;
    left: 0;
    z-index: -2;
  }
  #content-page-1945 .cs-leaf {
    width: 16.4375em;
    height: auto;
    right: 0;
    bottom: 0;
    z-index: -3;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #content-page-1945 .cs-container {
    flex-direction: row;
    align-items: flex-start;
  }
  #content-page-1945 .cs-image-group {
    font-size: min(1.2vw, 1rem);
    display: block;
    flex: none;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #content-page-1945 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #content-page-1945 .cs-title,
  body.dark-mode #content-page-1945 .cs-text,
  body.dark-mode #content-page-1945 h1,
  body.dark-mode #content-page-1945 h2,
  body.dark-mode #content-page-1945 h3,
  body.dark-mode #content-page-1945 h4,
  body.dark-mode #content-page-1945 h5,
  body.dark-mode #content-page-1945 h6 li,
  body.dark-mode #content-page-1945 p {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #content-page-1945 li strong,
  body.dark-mode #content-page-1945 p strong {
    color: #fff;
  }
  body.dark-mode #content-page-1945 p,
  body.dark-mode #content-page-1945 li {
    color: #ebebeb;
  }
  body.dark-mode #content-page-1945 .cs-picture {
    border-color: var(--accent);
  }
}

/*-- -------------------------- -->
<---    Content Page Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #content-page-1945 .cs-content-reverse {
    padding-top: 2.25rem;
  }
  #content-page-1945 .cs-content-reverse .cs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #content-page-1945 .cs-content-reverse .cs-image-group {
    font-size: min(1.8vw, 0.9rem);
    width: 47.8125em;
    height: 24.5em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #content-page-1945 .cs-content-reverse .cs-picture {
    width: 47em;
    height: 21.25em;
    height: 100%;
    box-sizing: border-box;
    background-color: #dab692;
    overflow: hidden;
    border: 0.5em solid #dab692;
    border-radius: 16.25rem;
    position: absolute;
    z-index: -1;
  }
  #content-page-1945 .cs-content-reverse .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.7s;
  }
  #content-page-1945 .cs-content-reverse .cs-graphic {
    height: auto;
    position: absolute;
  }
  #content-page-1945 .cs-content-reverse .cs-dots {
    width: 8.5625em;
    height: auto;
    top: -2em;
    left: 2em;
  }
  #content-page-1945 .cs-content-reverse .cs-brown {
    width: 12.6875em;
    height: auto;
    top: 0;
    right: 0;
    z-index: -3;
  }
  #content-page-1945 .cs-content-reverse .cs-peach-right {
    width: 4.1875em;
    height: auto;
    top: -1.1875em;
    right: 8.3125em;
  }
  #content-page-1945 .cs-content-reverse .cs-leaf-right {
    width: 17.6875em;
    height: auto;
    bottom: -0.875em;
    left: 2em;
  }
}
/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
  #content-page-1945 .cs-content-reverse .cs-container {
    flex-direction: row;
    align-items: flex-start;
  }
  #content-page-1945 .cs-content-reverse .cs-image-group {
    width: 38em;
    height: 30.125em;
    margin-top: 3rem;
    order: -1;
  }
  #content-page-1945 .cs-content-reverse .cs-picture {
    width: 38em;
  }
  #content-page-1945 .cs-content-reverse .cs-dots {
    top: -1em;
  }
}
                                
</style>